node_modules/
.DS_Store
*.log
*.tmp
*.pid
*.aux
*.bbl
*.blg
*.out
*.toc
*.synctex.gz
texput.log
main.pdf
main_review.pdf
*.zip
tmp/
pids/
.env
connection-profile.generated.*
wallet/
crypto-config/
organizations/
system-genesis-block/
channel-artifacts/
